.theme-toggle-button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30px;
    height: 30px;
  }
  
  .theme-toggle-button.dark {
    background-color: #333;
    color: #fff;
  }
  
  .theme-toggle-button.light {
    background-color: #fff;
    color: #333;
  }
  